{{yield}}
<div class="col-xs-12 col-sm-6 col-md-8">
  {{input class="form-control m-b-1" value=rule.text required=true}}
</div>
<div class="btn-group col-xs-7 col-sm-4  col-md-2">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{typeLabel}}
  </button>
  <div class="dropdown-menu">
    {{#each-in types as |kind rule|}}
      <button class="dropdown-item" {{action 'change' 'kind' kind}}>{{rule.title}}</button>
    {{/each-in}}
  </div>
</div>
<div class="text-xs-right col-xs-5 col-sm-2">
  <button class="btn btn-secondary" {{action 'remove' rule}}>
    <i class="fa fa-times" aria-hidden="true"></i></button>
</div>
